/* Your styles here */

/* Stili globali */
* {
    box-sizing: border-box;
}

/* Stili per tutto il body */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    color: #393d41;
    background-position: center center;
}

/* Stili per le intestazioni */
h1 {
    font-size: 2.2em;
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    line-height: 1.5;
    text-align: center;
    padding-top: 1em;
}

h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    color: #25a2c3;
    line-height: 1.5;
    text-align: center;
    padding-top: 1em;
}

h5 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: center;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: center;
    font-size: 2.5em;
    color: white;
}

/* Stili per i paragrafi */
p {
    padding-top: 0.5em;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.special_p {
    padding-top: 4em;
}

.special_p_due {
    font-size: 0.8em;
}

/* Stili per l'header */
header {
    background-image: url(/asset/images/banner.jpg);
    color: black;
    text-align: center;
    background-size: cover;
}

#logo {
    padding: 30px;
    max-width: 50%;
}

/* Stili per il logo */
#logo_contain {
    background-color: black;
    text-align: left;
}

/* Ottimizzazione delle immagini */

/* Padding per elementi principali */
#logo,
header,
main,
footer {
    padding: 2%;
}

/* Stili per il bottone */
button {
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    padding: 0.8em 2em;
    border-radius: 5%;
    margin-top: 7em;
}

button a {
    font-size: 2em;
    text-decoration: none;
}

/* stili e posizionamento immagini nella prima parte di article */
.container {
    display: flex;
    justify-content: space-between;
}

.box_img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align_left {
    width: 50%;
    text-align: left;
}
/* Stili per le immagini con bordi arrotondati */
.img_radius {
    border-radius: 50%;
    margin: auto;
}

/* Stili per una sezione evidenziata dell'article */
#red {
    background-color: #e22d0e;
    color: white;
    margin: 2em 0;
}

/* un paragrafo che ha padding diverso dagli altri */
.padding_p {
    padding: 1.5em;
}

/* posizionare gli elementi selezionati */
.align_left h3,
.align_left h2,
.align_left p {
    text-align: left;
}

/* Stili per le citazioni */
q {
    font-style: italic;
}

/* Stili per i bordi e le immagini nella sezione article */
.border {
    border: 1px solid #dee1e3;
    text-align: center;
    margin: 0 10px;
}

.img_special {
    width: 100%;
}

/* posizionamento elementi in section */
section {
    display: flex;
    justify-content: center;
}

.img_center {
    width: 100%;
}

/* Stili per il footer e per il posizionamento degli elementi */
footer {
    display: flex;
    justify-content: center;
    background-color: #25a2c3;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.border_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

address a {
    color: #c8e7f0;
    font-size: 1.5em;
}

span {
    text-align: center;
    margin: 0 auto 2em auto;
    color: #ffffff;
    font-size: 1.1em;
}
